@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!-- Add link to Inventory Index -->
<p>
    <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary">View Inventory</a>
</p>
